@import '../../styles/config/variable';
@import '../../styles/config/mixins';

.gridContainer {
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  .header {
    padding: 0 19px 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .label {
      font-size: 18px;
      font-weight: bold;
    }
    .addNew {
      display: flex;
      align-items: center;
      font-size: 16px;
      letter-spacing: 0.11px;
      color: #101b4f;
      margin: 0 15px;
      cursor: pointer;
      .addIcon {
        width: 14px;
        height: 14px;
        margin-right: 7px;
        padding-bottom: 3px;
        box-sizing: content-box;
      }
      &:hover {
        text-decoration: none;
      }
    }
    .searchContainer {
      align-self: flex-end;
      position: relative;
      margin-left:15px;
      .searchIcon {
        position: absolute;
        top: 12px;
        left: 15px;
        width: 14px;
        height: 14px;
      }
      .searchInput {
        padding-left: 35px;
        width: 160px;
        height: 40px;
        border-radius: 6px;
        color: #101b4f;
        border: solid 1px #d6d6d6;
        background-color: #f9fafb;
        &:focus {
          border: solid 1px #848484;
          outline: none;
        }
      }
    }
  }
  .gridContent {
    flex-grow: 1;
    border-radius: 8px;
    box-shadow: 0 5px 10px 0 $grid-shadow;
    border: solid 1px $grid-border-color;
    .patientTableContainer {
      overflow-x: auto;
      .patientTable {
        width: 100%;
        thead {
          tr {
            th {
              font-size: 12px;
              font-weight: bold;
              color: $header-color;
              padding: rem(15px 21px 19px);
            }
          }
        }
        tbody {
          tr {
            td {
              font-size: 14px;
              color: $cell-text-color;
              padding: rem(14px 21px 15px);
            }
            &:nth-child(odd) {
              background-color: $alternate-row-color;
            }
          }
        }
      }
    }
  }
}