@import "../../styles/config.scss";

.facesheet-form {
  margin-left: 40px;
  margin-right: 40px;
}

.done {
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  padding-right: 1.25rem;
}

.horizontal-rule {
   margin: 0 -5rem;
}

.MuiButton-text {
  padding: unset !important;
}

.MuiButton-containedPrimary {
  background-color: #59A3D2 !important;
}

.MuiInputBase-input {
  box-sizing: border-box !important;
}

.MuiInputLabel-outlined {
  transform: translate(14px, 13px) scale(1) !important;
  font-size: 14px !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75) !important;
    font-size: 1rem !important;
}

.city-wrapper {
  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.71) !important;
  }
}

.form-head {
  padding: 15px 0;
}

.patientInfo-bar {
  margin-top: 15px;
  margin-bottom: 0.75rem;
}

.outlined-basic {
  height: 1rem;
}
.patient-info {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a173b;
  padding-left: 15px;
}

.MuiFormControl-root {
    min-width: 100% !important;
    margin-bottom: 35px !important;
}

.MuiOutlinedInput-root {
  height: 40px;
  border-radius: 6px;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #1682FF !important;
}

.MuiFormLabel-root.Mui-focused, .cancel {
  color: #7A7F91 !important;
}

.MuiButton-root {
  display: flex !important;
  line-height: 1.5 !important;
}

.MuiButton-root {
  padding: 3px 14px !important;
  text-transform: none !important;
  border-radius: 8px !important;
  width: 100px !important;
}

.MuiFormControl-marginNormal {
  margin-top: 0 !important;
}

.MuiSelect-selectMenu.MuiSelect-selectMenu {
  padding: 9px 12px !important;
}

.MuiOutlinedInput-notchedOutline {
  border: 2px solid #e9edf3 !important;
}

.MuiButton-contained {
  box-shadow: none !important;
}

.MuiButton-label {
  font-size: 16px !important;
}

.MuiInputLabel-asterisk {
  visibility: hidden !important;
}