.login {
  width: 400px;
  min-height: 370px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  .loginHeader, .loginFooter {
    text-align: center;
  }
  .loginHeader {
    margin-bottom: 20px;
  }
  .loginForm {
    padding-top: 20px;
    border-top: 1px solid lightgrey;
  }
}
