@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin browser-prefix($prop, $value) {
  -webkit-#{$prop}: #{$value};
  -moz-#{$prop}: #{$value};
  -ms-#{$prop}: #{$value};
  -o-#{$prop}: #{$value};
  #{$prop}: #{$value};
}

@function rem($pixels) {
  @if type-of($pixels) == "number" {
    @if unitless($pixels) {
      $pixels: $pixels * 1px;
    }
    @return ($pixels / $base-font-size) * 1rem;
  } @else {
    $rem_values: ();
    @each $value in $pixels {
      @if unitless($value) {
        $value: $value * 1px;
      }
      @if $value == 0 {
        $rem_values: append($rem_values, $value);
      } @else {
        $rem_values: append($rem_values, ($value / $base-font-size) * 1rem);
      }
    }
    @return $rem_values;
  }
}
