$overlay-bg-clr: rgba(46, 56, 77, 0.8);

// colors
$white: #fff;
$black: #000;
$red: #ff0000;
$green: #008000;
$yellow: #ffff00;
$primary: #4998cb;

// navbar
$nav-item-color: white;
$nav-item-active-background: #1f5b81;
$nav-item-active-shadow: rgba(255, 255, 255, 0.58);

// font
$base-font-size: 16px;
$base-line-height: 1.25;
$regular-font-path: '../assets/fonts/Regular/';

//home
$grid-border-color: #daf0ff;
$grid-shadow: rgba(0, 0, 0, 0.04);

$form-menu-color: #007aff;

//table
$header-color: #a3abbb;
$cell-text-color: #101b4f;
$alternate-row-color: #f6fafd;


