/**
* Base styles defines the default css for html elements in the application.
*/

/* To use bootstrap mixins variables and functions */
@import "../../node_modules/bootstrap/scss/mixins";

@font-face {
  font-family: "Roboto";
  src: url($regular-font-path+"Roboto-Regular.ttf");
  src: url($regular-font-path+"Roboto-Regular.woff") format("woff"),
    url($regular-font-path+"Roboto-Regular.eot") format("opentype"),
    url($regular-font-path+"Roboto-Regular.svg") format("svg");
}

body {
  margin: 0;
  font-family: Roboto;
  font-size: $base-font-size;
  line-height: $base-line-height;
  .app-body {
    background-color: $primary;
    .app-content {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      background-color: white;
      height: calc(100vh - 53px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
