@charset "UTF-8";

@import 'config';
@import 'bootstrap/scss/bootstrap.scss';
@import 'base';
@import 'overrides';

// @media (min-width: 2000px) {
//   html {
//     font-size: 20px;
//   }
// }

// @media (min-width: 1800px) and (max-width: 1999px) {
//   html {
//     font-size: 18px;
//   }
// }

// @media (min-width: 1600px) and (max-width: 1799px) {
//   html {
//     font-size: 17px;
//   }
// }

// @media (min-width: 1400px) and (max-width: 1599px) {
//   html {
//     font-size: 16px;
//   }
// }

// @media (min-width: 1200px) and (max-width: 1399px) {
//   html {
//     font-size: 15px;
//   }
// }

// // Large devices (desktops, 992px and 1199px)
// @include media-breakpoint-only(lg) {
//   html {
//     font-size: 14px;
//   }
// }

// // Medium devices (tablets, 768px and 991px)
// @include media-breakpoint-only(md) {
//   html {
//     font-size: 13px;
//   }
// }

// // Small devices (landscape phones, 576px and 767px)
// @include media-breakpoint-only(sm) {
//   html {
//     font-size: 12px;
//   }
// }

// // Small devices (landscape phones, 576px and 767px)
// @include media-breakpoint-only(xs) {
//   html {
//     font-size: 10px;
//   }
// }
