@import '../../styles/config';

@import '../../styles/config/mixins';

.home {
  padding: 20px 25px;
  .gridContainer {
    padding: rem(14px);
    display: flex;
    flex-direction: column;
    .header {
      padding: 0 19px 19px;
      .label {
        font-size: 16px;
        font-weight: bold;
      }
    }
    .gridContent {
      flex-grow: 1;
      border-radius: 8px;
      box-shadow: 0 5px 10px 0 $grid-shadow;
      border: solid 1px $grid-border-color;
    }
  }
  .formMenu {
    font-size: 14px;
    padding: rem(15px 20px);
    color: $form-menu-color;
    text-decoration: underline;
  }
  .weeklyReport {
    padding: 17px 15px;
    .reportBrief {
      padding: rem(0 20px);
      .count {
        font-size: 20px;
        font-weight: bold;
        color: #37394c;
      }
      .period {
        font-size: rem(14px);
        font-weight: bold;
        color: #9b9b9b;
      }
      .subText {
        font-size: rem(12px);
        color: #9b9b9b;
      }
      .success {
        color: #70c267;
      }
      &:first-child {
        padding-left: 3px;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .insuranceProviders {
    padding: 17px 15px 10px;
  }
  .patientTableContainer {
    overflow-x: auto;
    .patientTable {
      width: 100%;
      thead {
        tr {
          th {
            font-size: 12px;
            font-weight: bold;
            color: $header-color;
            padding: rem(15px 21px 19px);
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 14px;
            color: $cell-text-color;
            padding: rem(14px 21px 15px);
          }
          &:nth-child(odd) {
            background-color: $alternate-row-color;
          }
        }
      }
    }
  }
  .viewAll {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1px;
    color: #007aff;
    float: right;
    display: flex;
    align-items: center;
    cursor: pointer;
    .caretRight {
      margin: rem(0 7px);
      width: rem(13.1px);
      height: rem(13.1px);
      padding-bottom: 3px;
      box-sizing: content-box;
    }
    &:hover {
      text-decoration: none;
    }
  }
}