@import '../../styles/config';
@import '../../styles/config/mixins';
@import '../../styles/config/variable';

.navbarCustom.navbar {
  padding: 5px 22px 5px 41px;
  min-height: 53px;
  .brand {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    img {
      width: 32px;
    }
  }
  .navList {
    flex-grow: 1;
    padding-right: 10%;
    .navItem {
      font-size: 18px;
      .navLink {
        font-weight: bold;
        padding: rem(7px 23px);
        border-radius: 8px;
        color: $nav-item-color;
        &.active {
          box-shadow: inset 0 -1px 0 0 $nav-item-active-shadow;
          background-color: $nav-item-active-background;
        }
      }
    }
  }
  .settings {
    font-size: 18px;
  }
  .settingsIcon {
    width: 19px;
    padding-bottom: 2px;
  }
  .dropdownIcon {
    width: 13px;
    padding-bottom: 1px;
  }
}
