@import "../../styles/config.scss";

.login-bg {
  height: 100vh;
  background: linear-gradient(to right, #4998cba3, #4998cb);

  .login-card {
    position: absolute;
    top: 0;
    bottom: 0;
    right: rem(60px);
    margin: auto;
    width: rem(480px);
    height: fit-content;
    .brand-logo {
      padding: rem(30px 50px);
      img {
        height: rem(100px);
        width: rem(100px);
      }
      .brandName {
        letter-spacing: 1.5px;
        padding-left: rem(20px);
        color: #fff;
        font-weight: 600;
      }
    }
    .login-form {
      padding: rem(40px);
      background: #eef4f8;
      border-radius: rem(10px);

      .form-label {
        font-size: rem(14px);
        margin-left: 13px;
        margin-bottom: 2px;
        font-size: 14px;
        font-weight: bold;
        color: #676c82;
      }
      .form-control {
        font-size: rem(16px);
        border-radius: 6px;
        padding-left: 15px;
        margin-bottom: 30px;
      }
      .eye-icon {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 25px;
        height: 15px;
      }
    }
    .forgot-password {
      font-size: rem(18px);
      color: #258dfe;
      padding-left: 1rem;
      line-height: rem(48px);
      cursor: pointer;
    }
    .btn-login {
      font-size: rem(18px);
      width: rem(100px);
      height: rem(48px);
      background: linear-gradient(#229cc9, #0f6399);
      float: right;
      color: #ffff;
      border-radius: 8px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .login-card {
    right: 0 !important;
    left: 0;
  }
}
